<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> my bootstrap test </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <script src="/static/js/ajax_myblog.js"></script>
    <div class='nav' id="nav">
        <ul class="nav nav-tabs nav-justified">
        <li><a href="javascript:void(0)" id="home">Home</a></li>
        <li><a href="javascript:void(0)" id="category">Category</a></li>
        <li><a href="javascript:void(0)" id="myblog">My Blog</a></li>
        <li><a href="javascript:void(0)" id="myself">Myself</a></li>
        <li><a href="javascript:void(0)" id="logout">Logout</a></li>
        </ul>
    </div>

    <div id="main">

    </div>
</body>
</html>
