<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> my bootstrap test </title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="nav">
    <ul class="nav nav-tabs nav-justified">
        <li><a href="">Home</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">My Blog</a></li>
        <li><a href="">Myself</a></li>
        <li><a href="">Logout</a></li>
    </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-4">username: </div>
            <div class="col-md-4 col-xs-4">{{ username }} </div>
            <div class="col-md-4 col-xs-4">
                <button type="submit" class="btn btn-default" name="username">change</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-4">email: </div>
            <div class="col-md-4 col-xs-4">{{ email }}</div>
            <div class="col-md-4 col-xs-4">
                <button type="submit" class="btn btn-default" name="email">change</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">city:</div>
            <div class="col-md-4">{{ city }}</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-default" name="city">change</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">age:</div>
            <div class="col-md-8">{{ age }}</div>
        </div>
        
        <div class="row">
            <div class="col-md-4">sex:</div>
            <div class="col-md-8">{{ sex }}</div>
        </div>
        
        

    </div>
</body>
</html>
