<!DOCTYPE html>
<html>
<head>
    <title>welcome to my blog</title>

    <link rel="stylesheet" type="text/css" href="../static/style/css1.css" />
    <script src="../static/script/script1.js"></script>
</head>

<body>
    <div id="main">
        <div class="box">
            <div class="pic">
                <img src="/static/images/0.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/1.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/2.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/3.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/4.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/5.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/6.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/7.jpg" />
            </div>
        </div>

        <div class="box">
            <div class="pic">
                <img src="../static/images/8.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/9.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/10.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/11.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/12.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/13.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/14.jpg" />
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../static/images/15.jpg" />
            </div>
        </div><div class="box">
            <div class="pic">
                <img src="../static/images/16.jpg" />
            </div>
        </div>

    </div>
</body>
</html>
